@charset "utf-8";
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url("./normalize.css");
@import url("./fontello.css");
*, *::before, *::after{
  box-sizing: border-box;
}
/*숨김 콘텐츠*/
.a11y-hidden, legend{
  position: absolute;
  width:1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  clip-path: polygon(0 0, 0 0, 0 0);

}
/*링크 스타일*/
a{
  color: inherit;
  text-decoration: none;
  outline: none;
}
a:focus{
  box-shadow: 0 0 5px 1px cadetblue;
}
html {
  font-size:10px;
}
body{
  background:#fff;
  color:#181818;
  font-size: 1.4rem;
  font-family: 'Spoqa Han Sans', 'Sans-serif'; 
  font-weight:300;
}
/*컨테이너*/
.container{
  background: url("./images/bg_flower.png") no-repeat 50% 0%,
  #aaa linear-gradient(#ccc, #eee 35%, #fff 65%, #fff 100%);
}
.header, .visual , .main, .slogan, .footer{
  width: 940px;
  margin: 0 auto;
}

/*해더*/
.header{
  background: #fff;
  position: relative;
  border-radius: 0 0 15px 15px;
  padding-bottom: 5px;
}
/*로고*/
.logo{
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  left: 60px;
  top: 45px;
}

/*멤버 링크*/
.member{
  margin: 0 23px 0 30px;
  padding-left: 0;
  list-style-type: none;
  text-align: right;
  font-size: 0;
}

.member li, .member a {
  display: inline-block;
}
.member li{
  font-size: 1.4rem;
  padding-top: 3px;
  padding-bottom: 3px;
}
.member a {
  padding: 0.5em;
  text-transform: uppercase;
}

/*메인 메뉴*/
.navigation{
  padding-bottom: 32px;
}
.menu{
  height: 49px;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(2,52,95,1) 26%, rgba(2,118,169,1) 50%, rgba(2,169,226,1) 83%, rgba(0,212,255,1) 100%, rgba(3,2,52,1) 100%, rgba(4,82,197,1) 100%, rgba(9,9,121,1) 100%, rgba(7,7,98,1) 100%, rgba(5,4,70,1) 100%);
  margin: 0 30px;
  padding-left: 230px;
  list-style: none;
  border-top: 2px solid #222;
  border-radius: 0 0 5px 5px;
}
.menu-item{
  position: relative;
  float: left;
  border-left: 2px solid rgba(255,255,255,0.5);
}
.btn-menu{
  display: block;
  padding: 1em 1.45em;
  color:#fff;
  font-weight: 700;
  font-size: 1.5rem;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, 1px 0 0 #000, 0 -1px 0 #000;
}
.menu-act .btn-menu{
  color: #ff0;
}
.btn-menu:focus{
  box-shadow: initial;
}
.menu-act .btn-menu::after{
  content: "";
  background: papayawhip;
  display: block;
  border-top: 2px solid #000;
  position: relative; 
  top: 1em;
}
.sub-menu{
  display: none;
  position: absolute;
  padding-left:0;
  list-style: none;
  top:49px;
  white-space: nowrap;
}
.sub-menu1, .sub-menu2, .sub-menu3{
  left: 0;
}
.sub-menu4, .sub-menu5, .sub-menu6{
  right: 0;
}
.menu-act .sub-menu{
  display: block 
}
.sub-menu li, .sub-menu a {
  display: inline-block !important;
}
.sub-menu a{
  padding: 0.5em 0.5em 0.5em 0;
}
/*비주얼*/
/*비주얼 애니메이션*/
@keyframes textAni{
  0%{
    font-size: 12px; 
    color: rgba(0,0,0,0);
    transform: translate(0, 0);
  }
  100%{
    font-size: 24px;
    color: rgba(0,0,0,1);
    transform: translate(400px, 75px);
  }
}
@keyframes bgAni{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
.visual {
  height: 120px;
  position: relative;
}
.visual::before, .visual::after{
  content: "";
  position:  absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: bgAni 4000ms infinite alternate ease-in-out;
}
.visual::before{
  background: url("./images/ani_flower_01.png") no-repeat 0 -10px,
  url("./images/ani_flower_02.png") no-repeat 670px 0;
}
.visual::after{
  animation-delay: 2000ms;
  background: url("./images/ani_flower_03.png") no-repeat 300px 0,
  url("./images/ani_flower_04.png") no-repeat 800px 0;
}
.visual-text{
  width: 500px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  animation-name: textAni;
  animation-duration: 2000ms;
  animation-fill-mode: forwards; 
}
/*메인 콘텐츠*/
.main{
  background: gray;
  border-radius: 15px 15px 0 0;
  padding: 30px 15px;
  overflow: hidden;
  /*display: flex;*/
 /* flex-flow: row wrap;
  justify-content: space-evenly; */
}
.group{
  float: left;
  margin-left: 15px;
  margin-right: 10px;
  min-height: 400px;
} 
.group1{
  width:250px;

}
/* 로그인 */
.login{
  background: radial-gradient(circle at right top, rgba(94,147,219,1),rgba(45,104,196,1));
  border-radius: 5px;
  padding: 10px;
  box-shadow: 5px 5px 0 0 #1B1D36;
}
.login-heading{
  color: #ff0;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 0 10px 10px;
}
.login-form{
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  padding: 10px 10px 0 10px;
  margin-top: 10px;
}
.login-form fieldset{
  position: relative;
  padding: 0;
  border: none;
  border-bottom: 1px solid #aaa;
  padding-bottom: 5px;
}
.user-email, .user-pw{
  margin-bottom: 5px;
}
.login-form label{
  display: inline-block;
  width: 4em;
}

[name="userId"], [name="userPwd"]{
  width: 90px;
  height: 22px;
  border: 1px solid #aaa;
  padding: 0 0.5rem;
} 

.btn-login{
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: 1px solid #56B7E6;
  background-color: #0084D4;
  color: #fff;
  padding: 0;
  font-size: 1.2rem;
  border-radius: 3px;
}
.sign{
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  padding: 10px;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.sign a::before{
  color: #0084D4;
}
.sign li{
  letter-spacing: -1px;
  font-size: 1.3rem;
}
.sign .icon-right-open::before{
  color: #101820; }
  
/* 유효성 검사 배너 */

.validation-list{
  list-style: none;
  margin-top: 25px;
  margin-bottom: 0;
  padding-left:0;
}
.validation-list li{
  margin-bottom: 10px;
  line-height: 20px;
}
.validation-list a{
  display: block;
  background: url("images/validation_icon.png") no-repeat 15px 50%,
              linear-gradient(to bottom, #eee, #A2AAAD);
  border: 1px solid #385E9D;
  border-radius: 30px;
  padding: 5px 5px 5px 40px;
}
.validation-list a:hover, 
.validation-list a:focus{
  font-weight: 700;
  color: #DC3513;
  outline: 0;
}
/* 웹 관련 용어 */
.term{
  background: linear-gradient( #ccc, #eee);
  margin-top: 20px;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 15px;
}
.term-heading{
  margin:0 0 10px 0;
  font-size: 1.5rem;
  font-weight: 700;
}
.term-list{
  margin: 0;
  overflow: hidden;
}
.term-list dd{
  margin-left: 0;
}
.term-list-subject{
  color: #296897;
  float: right;
  width: 145px;
  font-weight: 400;
  margin-top: -2px;
}
.term-list-thumbnail{
  float: left;
}
.term-list-thumbnail img{
  display: block;
}
.term-list-brief{
  line-height: 1.5;
  float: right;
  width: 145px;
  margin-top: 5px;
}

/* 슬로건 */
.group2 {

  width:380px;

}
.group3{

  width:190px;
}

/*슬로건*/
.slogan{
  background: lime;
  height: 10vh;
}
/*푸터*/
.footer-bg{
  background: #aaa linear-gradient(#ccc, #eee 35%, #fff 65%, #fff 100%);
}
.footer{
  background: pink;
  height: 10vh;
}
